.form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 6rem;
}
.form_group{
    display: flex;
    flex-direction: row;
}

.form_div-id{
    display: flex;
    flex-direction: column;
}

.group-id{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:425px) {
    .form_group{
        display: flex;
        flex-direction: column;
    }
    .group-id{
        display: flex;
        flex-direction: row;
    }
}